* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background: black;
  font-family: sans-serif;
}

.feed {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.feed::-webkit-scrollbar {
  display: none;
}

.video-item {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.video-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loader {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateX(50%);
  color: white;
  font-size: 2rem;
}

.error {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateX(50%);
  color: red;
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  #app {
    max-width: 768px;
    height: 1280px;
    max-height: 95%;
    margin: 20px auto;
    scrollbar-width: 0;
  }

  .feed {
    height: 100%;
    width: 100%;
  }

  .video-item {
    width: 100%;
    width: 100%;
  }

  .video-item video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0 auto;
  }

  .feed {
    width: 100%;
    height: 100%;
  }
}
